- var claims = my_content;

 .claim-wrapper
    h4
        span.claim-number #{claims[0].number}
        | Method
    p
        | #{claims[0].text}
    a.expandable
        span 2
        span 10
    #claim1
        ul
            li
                span 2
                | #{claims[1].text}
            li
                span 3
                | #{claims[2].text}
            li
                span 4
                | #{claims[3].text}
            li
                span 5
                | #{claims[4].text}
            li
                span 6
                | #{claims[5].text}
            li
                span 7
                | #{claims[6].text}
            li
                span 8
                | #{claims[7].text}
            li
                span 9
                | #{claims[8].text}
            li
                span 10
                | #{claims[9].text}

    // /#claim
// /.claim-wrapper
.claim-wrapper
    h4
        span.claim-number #{claims[10].number}
        | Product
    p
        | #{claims[10].text}
    a.expandable
        span 12
        span 15
    #claim2
        ul
            li
                span 12
                | #{claims[11].text}
            li
                span 13
                | #{claims[12].text}
            li
                span 14
                | #{claims[13].text}
            li
                span 15
                | #{claims[14].text}
    // /#claim
// /.claim-wrapper
.claim-wrapper
    h4
        span.claim-number #{claims[15].number}
        | Device
    p
        | #{claims[15].text}
    a.expandable
        span 17
        span 20
    #claim3
        ul
            li
                span 17
                | #{claims[16].text}
            li
                span 18
                | #{claims[17].text}
            li
                span 19
                | #{claims[18].text}
            li
                span 20
                | #{claims[19].text}
    // /#claim
// /.claim-wrapper

